.background {
	background: radial-gradient(circle at top, #3e86ac 0%, #3364a3 38%, #000000 80%), #000;
    color: #fff;
	background-repeat: no-repeat;
	overflow: hidden;
	background-attachment: fixed;
	background-size: auto;
	height: 100vmax;
}

.star {
	position: absolute;
	z-index: 50 !important;
	transform: scale(1);
	opacity: 1;
	transform-origin: center;
	transition: all 0.5s, transform 0.5s;
}

.star.red {
	background: url("/assets/images/starred.svg") no-repeat/*, radial-gradient(circle at center, #3e86ac 0%, #3364a3 19%, transparent 50%);*/
}

.star.white {
	background: url("/assets/images/starwhite.svg") no-repeat/*, radial-gradient(circle at center, #3e86ac 0%, #3364a3 19%, transparent 50%);*/
}

.star.hidden {
	opacity: 0 !important;
	transform: scale(0) !important;
}
