.background {
	background: radial-gradient(circle at top, #3e86ac 0%, #3364a3 38%, #000000 80%), #000;
    color: #fff;
	background-repeat: no-repeat;
	background-position: 0 0;
}

.background.animate {
	animation: bgAnimation 5s alternate infinite ease-in-out;
}

@keyframes bgAnimation {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 0 -10vh;
	}
}

.star {
	--duration: calc(var(--interval) * 5);
	position: absolute;
	transform: scale(1) rotate(0deg);
	opacity: 1;
	transform-origin: center;
	transition: all var(--duration), transform var(--duration);
}

.star.red {
	background: url("/assets/images/starred.svg") no-repeat
}

.star.white {
	background: url("/assets/images/starwhite.svg") no-repeat
}

.star.hidden {
	opacity: 0 !important;
	transform: scale(0) rotate(0deg) !important;
}