
@font-face {
	font-family: "CascadiaCode";
	font-style: normal;
	font-weight: normal;
	src: url("/assets/fonts/CascadiaMono-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "CascadiaCode";
	font-style: normal;
	font-weight: bold;
	src: url("/assets/fonts/CascadiaMono-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "CascadiaCode";
	font-style: italic;
	font-weight: normal;
	src: url("/assets/fonts/CascadiaMono-Italic.ttf") format("truetype");
}

* {
	font-family: "CascadiaCode";
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	background-color: #000;
	color: #fff;
	height: 120vh;
	width: 100vw;
	background-size: 100vw 100vh;
	
	overflow-y: hidden;
	margin: 0;
	background-position: 0 -200vh;
	transition: background-position 1s;
}

body.background {
	background-size: 100vw 139vh;
	background-repeat: no-repeat;
	background-position: 0 0;
}

body.background.animate {
	animation: bgAnimation 5s alternate infinite ease-in-out;
}

@keyframes bgAnimation {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 0 -10vh;
	}
}


.centeredStuffContainer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 100
}

.centeredStuff {
    width: 500px;
    display: block;
    margin: auto;
    left: 0;
    right: 0;
	z-index: 100;
}


.box {
	background-color: rgba(0,0,0,.5);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 25px;
	border: 5px solid rgb(53, 57, 64);
	padding: 10px;
	transition: all 1s;
	height: auto;
	overflow: hidden;
	position: relative;
	z-index: 100;
	transform: scale(1);
	opacity: 1;
	display: block;
	min-height: 200px;
}

.box.friends {
	min-height: 300px
}

.boxes {
	transition: opacity 0.5s;
}

.hidden {
	opacity: 0;
}

.kindaRemoved {
	display: none
}

.box.hidden {
	opacity: 0;
	transform: scale(0.7);
}

.box.reallyhidden {
	display: none
}

.content {
	opacity: 1;
	transform: scale(1);
	visibility: visible;
	transition: all 1s;
	top: 0;
	width: 99%;
	height: 100%;
	line-break: auto;
	position: absolute;
}


.box + .box {
	margin-top: 12px;
}

.titleDiv {
	margin: 0;
	padding: 10px;
	position: relative;
	z-index: 100
}

.titleDiv h2.vinchetitle {
	display: block;
	text-align: left;
}

h2 {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center
}

button {
	background: transparent;
	border: none;
	color: #fff;
	font-family: "CascadiaCode";
}

button.backButton {
	width: 100%;
	text-align: left;
	margin: auto;
	left: 1;
	right: 0;
	display: flex;
	justify-content: flex-end
}

@media only screen and (max-width: 767px) {
	.centeredStuff {
		width: auto;
		padding: 10px
	}
	.centeredStuffContainer {
		width: 100%;
		height: 100%;
	}
	.titleDiv {
		width: 100%;
		font-size: 3.5vw
	}
}

img.emoji {
	height: 1em;
	width: 1em;
	margin: 0 .05em 0 .1em;
	vertical-align: -0.1em;
}

.vinchemadethiswithherheart {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.volumeValue {
	display: inline-block;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.smallerText {
	font-size: 0.8em;
}

.vincystreamCover {
	width: 150px;
	height: auto;
	border-radius: 5px;
}

.volumeValue {
	display: inline-flex
}

.vincystreamVolume {
	width: 200px;
	display: inline-flex
}

.vincystreamButton {
	font-size: 16px
}

.age {
	display: inline-block;
	white-space: pre;
}
