
@font-face {
	font-family: "CascadiaCode";
	font-style: normal;
	font-weight: normal;
	src: url("/assets/fonts/CascadiaMono-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "CascadiaCode";
	font-style: normal;
	font-weight: bold;
	src: url("/assets/fonts/CascadiaMono-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "CascadiaCode";
	font-style: italic;
	font-weight: normal;
	src: url("/assets/fonts/CascadiaMono-Italic.ttf") format("truetype");
}

:root {
	--min-box-height: 200px;
	--interval: 100ms;
}

* {
	font-family: "CascadiaCode";
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	background-color: #000;
	color: #fff;
	margin: 0;
	overflow-x: hidden;
	background-position: 0 -200vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	transition: background-position calc(var(--interval) * 10);
}

body.background {
	background-size: 100vw 139vh;
	background-repeat: no-repeat;
	background-position: 0 0;
	z-index: 1;
}


.centeredStuff {
    width: 500px;
    display: flex;
	flex-direction: column;
	align-items: stretch;
	z-index: 2;
}

.box {
	background-color: rgba(0,0,0,.5);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	border-radius: 25px;
	border: 5px solid rgb(53, 57, 64);
	padding: 10px;
	transition: all calc(var(--interval) * 10);
	transform: scale(1);
	opacity: 1;
	margin-top: 12px;
	overflow: hidden;
}


.boxes {
	transition: opacity calc(var(--interval) * 5);
}

.hidden {
	opacity: 0;
}

.kindaRemoved {
	display: none
}

.box.hidden {
	opacity: 0;
	transform: scale(0.7);
}

.box.reallyhidden {
	display: none
}

.content {
	opacity: 1;
	transform: scale(1);
	visibility: visible;
	transition: all calc(var(--interval) * 10);
	top: 0;
	left: 0;
	width: 100%;
	line-break: auto;
	position: absolute;
	min-height: 200px;
	margin: 5px;
}

.titleDiv {
	margin: 0;
	padding: 10px;
	position: relative;
}

.titleDiv h2.vinchetitle {
	display: block;
	text-align: left;
}

h2 {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center
}

button {
	background: transparent;
	border: none;
	color: #fff;
	font-family: "CascadiaCode";
}

button.backButton {
	width: 100%;
	text-align: left;
	margin: auto;
	left: 1;
	right: 0;
	display: flex;
	justify-content: flex-end
}

@media only screen and (max-width: 500px) {
	.centeredStuff {
		width: 100vw;
		padding: 10px
	}
	.titleDiv {
		width: 100%;
		font-size: 3.5vw
	}
}

/* I'm not removing this because maybe
 * twemoji will be available again in the future
 */
/*img.emoji {
	height: 1em;
	width: 1em;
	margin: 0 .05em 0 .1em;
	vertical-align: -0.1em;
}*/

.bottomText {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.smallerText {
	font-size: 0.8em;
}

.age {
	display: inline-block;
	white-space: pre;
}

a {
	color: #fff;
	text-decoration: none;
}

a::after {
	content: " (>)"
}

a[hide]::after {
	content: ""
}

.dialog {
	display: inline-block;
}

.dialog .text {
	--duration: calc(var(--interval) * 3);
	background-color: rgba(0,0,0,.125);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	border-radius: 25px;
	border: 5px solid rgb(53, 57, 64);
	opacity: 0;
	visibility: hidden;
	color: #fff;
	text-align: center;
	border-radius: 10px;
	padding: 5px 5px;
	position: absolute;
	margin-left: -60px;
	transition: opacity var(--duration), visibility var(--duration);
	z-index: 4;
}

.dialog:hover .text {
	visibility: visible;
	opacity: 1;
}